NODE_ENV=production
PORT=3001

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change_me
DB_NAME=seventout

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=seventout-prod-bucket
AWS_ACCESS_KEY_ID=replace_me
AWS_SECRET_ACCESS_KEY=replace_me

BULLMQ_DEFAULT_QUEUE=default
